* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

.menu-area {
    width: 800px;
    background-color: orange;  
    margin: 10px 15px;
}

.menu-area ul {
    display: inline-flex;
    list-style-type: none;
    color: black;
    text-align: center;
    margin: 10px;
}

.menu-area ul li {
    width: 100px;
    padding: 10px 0px ;
}

.menu-area ul li a {
    text-decoration: none;
    color: black;
}

.menu-area ul li:hover {
    background-color: rgb(216, 214, 214);
}

.active {
    background-color: lightgray;
}

.sub-menu {
    display: none;
}

.menu-area ul li:hover .sub-menu {
    display: block;
    position: absolute;
    margin-left: -10px;
}

.menu-area ul li:hover .sub-menu ul {
   display: block;
}

.menu-area ul li:hover .sub-menu ul li {
    width: 300px;
    padding: 10px;
    text-align: left;
    background-color: rgb(240, 232, 232); 
}

.menu-area ul li:hover .sub-menu ul li:nth-child(even) {
    background-color: rgb(216, 214, 214);
}