* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    border: 1px solid black;
    padding: 10px 170px;
    width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column; 
}

.yellow {
    background-color: yellow;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.orange {
    background-color: orange;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.black {
    background-color: black;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.brown {
    background-color: brown;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.grey {
    background-color: grey;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.pink {
    background-color: pink;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

p {
    color: white;
}